/* CSS-styles for contact information page */

#profile {
	width: 48%;
	display:block;
	height: 141px;
	margin-right:1%;
	float: left;
	margin-bottom:15px;
	background-color: #fff;
	color: #000;
	font-size: 120%;
	border-radius: 8px;
}

#profileImage img {
	width: 80%;
    height: 141px;
    float: left;
    border-radius: 8px 0px 0px 8px;
}

#profileImage {
	width: 42%;
    position: relative;
    float: left;
    text-align: center;
}

#profileInfo {
	width: 50%;
    float: left;
	position: relative;
}

.profile-field .field-content{
	display: inline;
}

.profile-field{
	margin-bottom: 2px;
    margin-top: 3px;
}


@media screen and (max-width: 500px) {
	#profile {
		width:100% !important;
		height:180px !important;
	}

	#profileImage img {
		width: 90%;
		height: 180px !important;
	}
}