/*
** All front page styles
*/

.frontpage-content{
    text-align: center;
    position:relative;
}

#block-views-ajankohtista-block{
    width:50%;
    float:left;
   
}

#block-views-tapahtumat-block{
    width:35%;
    float:left;
    
}

@media (max-width:400px){
    #block-views-ajankohtista-block{
        width:100%
    }
    
    #block-views-tapahtumat-block{
        width:100%;
    }
}