/*
	Default styles for defaut templates
*/
body{
	background: #e8e8e8;
}

/*
	Header styles
*/

#header{
	background-image: none;
	background:rgba(0,158,218,1);
}

#header-inside{
	padding: 20px 0px 10px 0px;
}

#header-inside-right{
	float:right;
	width: auto;
	display:inline;
}

.secondary-menu{
	float:right;
	margin-right: 20px !important;
}

.secondary-menu li a{
	color:white !important;
	text-decoration: none !important;
}

#header-menu{
	text-align: center;
	margin-top: 75px;
	border:none;
	background:rgba(0,158,218,1)
}


@media (min-width: 1024px) {
.container_12 {
	width:1024px;
	}
}

#navigation li a {
	color:#fff !important;
}

/*
	Header styles for different screen sizes
*/

@media (min-width: 760px) and (max-width: 980px) {

}

@media (min-width: 760px) {
.mobile-logo {
	display:none;
	}
}

@media (max-width: 759px) {
	.default-logo {
		display: none;
	}

	#header-inside-left {
		width:100%;
	}

	.mobile-logo img {
		display:block;
		margin: 0px auto;
	}

	#header-inside-right{
		float: left;
    	margin: 7px 0px 0px 39%;
	}
}

/*Content*/

#content{
	background-image: none;
	margin-bottom: 10px;
	min-height: 400px;
}

.view-tiedostot {
	font-size:120%;
}

span.field-content {
	font-size:120%;
}

/* NEVER REMOVE THIS!!!! */
#first-time{
	display:none;
}

/* Footer styles */

#footer-bottom{
	background-image: none;
	background: rgba(0,158,218,1);
	border:none;
	width: 100%;
    text-align: center;
    padding-top: 0px;
}

#footer-bottom h2 {
	color: white;
}

#footer-bottom img {
	padding: 10px 5px 0px 5px;
	width:18%;
	height: 18%;	
}

@media (max-width: 600px) {
	#footer-bottom img {
		width:20%;
		height: 20%;
	}
}

@media (max-width: 500px) {
	#footer-bottom img {
		width:25%;
		height: 25%;
	}
}

@media (max-width: 400px) {
	#footer-bottom img {
		width:28%;
		height: 28%;
	}
}